/* html {
  box-sizing: border-box;
  height: 100%;
} */

body {
  /* box-sizing: inherit;
  min-height: 100%; */
  font-family: sans-serif;
  overflow-x: hidden;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------------------------Navigation------------------------------------ */

/* ----------------Top Navigation---------  --------MOBILE------------- */

.header .container-top,
.logo-liv,
.navbar-top,
.dropdown,
.search-btn {
  display: none;
}

.header {
  background-color: black;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.logo-giant {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.nav-toggle {
  display: none;
}
.nav-toggle-label:hover {
  cursor: pointer;
}

.nav-toggle-label {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 4px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 9px;
}

.nav-toggle-label span::after {
  top: 9px;
}

.container-bottom nav {
  position: absolute;
  text-align: left;
  top: 100%;
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: none;
}

.container-bottom nav ul {
  list-style: none;
  background-color: #f7f7f7;
}

.container-bottom nav ul li {
  margin: 0em 1em;
  padding-bottom: 0.8em;
  padding-top: 1.3em;
  border-bottom: solid thin #3333;
}

.container-bottom nav ul li button {
  color: #333;
  text-decoration: none;
  font-size: 1em;
  font-weight: 100;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: inherit;
  border: none;
}

.container-bottom nav ul li button:hover {
  color: dodgerblue;
  cursor: pointer;
}

.nav-toggle:checked ~ nav {
  display: block;
}

.nav-toggle:checked ~ nav a {
}

.brand-liv {
  font-weight: 300;
  font-size: 1em;
  color: #333;
  padding-left: 1em;
  padding-top: 0.5em;
  border-bottom: solid thin #3333;
  background-color: #ebebeb;
  opacity: 0.6;
}

.brand-liv img {
  margin-top: 1em;
  margin-bottom: 1em;
}
/* -------------------------------Main------------------------------------ */
.main-content {
  margin-top: 51px;
}

/*  Hero */
.hero {
  position: relative;
  text-shadow: 0px 0px 10px #333;
}
.hero-image {
  width: 100%;
  max-width: 100%;
  display: block;
  height: unset;
  right: unset;
}

.hero-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 20%;
  justify-content: center;
  align-items: center;
  transform: translateY(-40%);
  -webkit-transform: translateY(-40%);
  -moz-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  -o-transform: translateY(-40%);
}

.hero-info h1 {
  text-transform: uppercase;
  font-size: 3.5em;
}

.hero-info h2 {
  text-align: center;
  margin-top: 1em;
}

.hero-info h2 {
  color: whitesmoke;
  font-size: 2.2em;
}

.hero-link {
  padding: 1em 3em;
  background-color: white;
  color: black;
  text-align: center;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: 300;
  align-self: center;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .hero-image {
    height: 800px;
  }
  .hero-info {
    position: absolute;
    top: 40%;
    left: 5%;
    justify-content: center;
    align-items: center;
  }
  .hero-info h1 {
    font-size: 2.5em;
  }

  .hero-info h2 {
    font-size: 1.8em;
  }
  .hero-link {
    padding: 0.8em 2em;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 768px) {
  .hero-image {
    max-width: unset;
    height: 600px;
  }
  .hero-info {
    position: absolute;
    top: 40%;
    left: 10%;
    justify-content: center;
    align-items: center;
  }
  .hero-info h1 {
    font-size: 2.9em;
  }

  .hero-info h2 {
    font-size: 2.2em;
  }
  .hero-link {
    padding: 0.8em 2em;
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 992px) {
  .hero-image {
    width: 100%;
    max-width: 100%;
    display: block;
    height: unset;
    right: unset;
    position: relative;
  }
  .hero-info {
    position: absolute;
    top: 40%;
    left: 20%;
    justify-content: center;
    align-items: center;
  }
  .hero-info h1 {
    font-size: 3.5em;
  }

  .hero-info h2 {
    font-size: 2.2em;
  }
  .hero-link {
    padding: 0.8em 2em;
    font-size: 1rem;
  }
}

/* ------Advert Bar-------- */

.advert {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  border-bottom: solid thin #3331;
}
.advert-content {
  display: flex;
  justify-content: space-between;
  padding-top: 1.6em;
  padding-bottom: 1.6em;
  width: 1000px;
}

.advert p {
  font-weight: 400;
  font-size: 0.9em;
  color: #3337;
}

.advert h4 {
  font-size: 0.9em;
  padding-bottom: 0.3em;
}

.delivery,
.returns,
.finance {
  display: flex;
  gap: 1em;
}

.adv-img {
  color: #3339;
  font-size: 2rem;
}

@media screen and (max-width: 560px) {
  .advert-content {
    display: none;
  }
}

@media screen and (min-width: 561px) and (max-width: 1024px) {
  .advert-content {
    padding: 1.6em 1em;
  }
}
/* -------------------------------Footer------------------------------------ */

footer {
  background-color: #121212;
  color: lightgray;
  padding-top: 3em;
  display: grid;
  grid-template-rows: auto;
  row-gap: 5em;
  grid-template-columns: repeat(4, minmax(auto-fit, 1fr));
  grid-template-areas:
    "social social features features"
    "support support company company"
    "address address address address";
}

.social {
  grid-area: social;
}

.features {
  grid-area: features;
}

.support {
  grid-area: support;
  padding-bottom: 6em;
}

.company {
  grid-area: company;
}

.address {
  grid-area: address;
  background-color: black;
  text-align: center;
  vertical-align: middle;
  padding-top: 0.3em;
  font-weight: 100;
  font-size: 0.7em;
  color: gray;
}

.social,
.features,
.support,
.company {
  display: flex;
  flex-flow: column;
  padding-left: 1rem;
}

footer h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
  padding-bottom: 1em;
}

.social button {
  border: none;
}

.features div,
.support div,
.company div {
  padding-top: 1em;
}

footer a {
  display: inline;
  text-decoration: none;
  color: gray;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 0.9em;
  padding-top: 1em;
}

footer a:hover {
  color: lightgray;
  text-decoration: underline;
}

footer button {
  width: 10em;
  height: 2.2em;
  font-size: 0.9em;
}

footer button:hover {
  background-color: lightgray;
  cursor: pointer;
}

/* -------------------------------------- FULL SCREEN --------------------------- */
/* ============================================================================== */

@media screen and (min-width: 1024px) {
  /* -------Navbar Top----------- */

  .header .container-top {
    display: flex;
    background-color: whitesmoke;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .header .logo-liv {
    display: flex;
    margin-right: auto;
    padding-left: 3em;
  }

  .header .navbar-top,
  .header .navbar-top li {
    display: inline-block;
  }

  .header .navbar-top ul {
    padding-right: 2.5em;
  }

  .header .navbar-top li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75em;
    color: #333;
    padding-left: 2em;
  }

  /* ---------------Navbar Bottom---------- */

  .nav-toggle-label,
  .brand-liv,
  .mobile {
    display: none;
  }

  .container-bottom {
    display: grid;
    grid-template-columns: auto minmax(450px, 1fr) minmax(1fr, 1fr);
    border-bottom: solid 1px #333;
  }

  .logo-giant {
    grid-column: 1 / 2;
    margin-right: auto;
    margin-left: 2em;
  }

  .container-bottom nav {
    all: unset;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    margin-left: -15em;
  }

  .container-bottom nav ul {
    display: flex;
    background-color: black;
    justify-content: center;
  }

  .container-bottom nav ul li button {
    color: white;
  }

  .container-bottom nav ul li button:hover {
    color: dodgerblue;
  }

  .container-bottom .search-btn {
    display: block;
    grid-column: 3 / 4;
    margin-left: auto;
    margin-right: 2em;
    color: white;
  }

  .search-btn:hover {
    cursor: pointer;
  }

  /* --------------Dropdown Menu / Sidebar-------------- */
  .visibility {
    display: grid;
  }

  .dropdown,
  .menjushka {
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "road mountain gravel electric kids blank";
    background-color: white;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: left;
    padding-left: 3em;
    z-index: 9999;
  }

  .dropdown .road {
    grid-area: road;
  }

  .dropdown .mountain {
    grid-area: mountain;
  }

  .dropdown .gravel {
    grid-area: gravel;
  }

  .dropdown .electric {
    grid-area: electric;
  }

  .dropdown .kids {
    grid-area: kids;
  }

  .dropdown ul {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
  }

  .dropdown ul h3 {
    border-right: solid thin #3332;
    color: #333;
    font-size: 1em;
  }

  .dropdown ul li {
    list-style-type: none;
    border-right: solid thin #3332;
    padding-top: 0.5em;
  }

  .dropdown ul li a {
    text-decoration: none;
    color: #333;
    font-size: 0.9em;
  }

  .dropdown ul li:last-of-type a {
    color: #3336;
  }

  #opac {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
  }

  #searcht {
    background-color: aqua;
    width: 100vw;
    height: 7em;
  }

  /* -------------- Main -------------- */
  .main-content {
    margin-top: 88px;
  }
  /* --------------- Footer ---------- */
  footer {
    grid-template-rows: 1fr 2em;
    grid-template-areas:
      "social features support company"
      "address address address address";
  }

  .social,
  .features,
  .support,
  .company {
    display: flex;
    flex-flow: column;
    padding-left: 2rem;
  }
}
