/* Single Bike */

/* Bike Header */
.bike-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  min-height: 750px;
}

@media screen and (min-width: 1001px) {
  .bike-header {
    grid-template-columns: 2fr 1fr;
    min-height: 600px;
  }
}
@media screen and (min-width: 1200px) {
  .bike-header {
    min-height: 750px;
  }
}
/*  ------- iframe----- */
.photo-frame {
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 3rem 0 0 0;
}
.responsive-iframe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.responsive-iframe img {
  width: 90%;
}

.photo-frame nav > * {
  margin: 0.2em;
}

.photo-frame nav {
  display: flex;
  width: 72%;
  justify-content: center;
}

.photo-frame a > img {
  width: 70px;
  height: 50px;
  border: solid thin #3334;
}

iframe {
  border: none;
  overflow: hidden;
}

/* bike selection  */
.size-selector {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1001px) {
  .size-selector {
    display: block;
  }
}

.categories {
  display: flex;
}

.categories a {
  text-decoration: none;
}

.gray {
  color: #3339;
}

.dark-gray {
  color: #333;
  font-size: 0.8em;
}

.gray a {
  color: #3339;
  font-size: 0.9em;
}

.price {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.size-selector h1 {
  text-transform: uppercase;
  margin-bottom: 0.3em;
}

.size-selector h3 {
  font-weight: 400;
  margin-bottom: 1em;
}

.categories,
.categories a {
  color: #3339;
  text-decoration: none;
  font-weight: 300;
  font-size: 0.95em;
}

.categories {
  margin-bottom: 1.3em;
}

.categories a:hover {
  text-decoration: underline;
}

.reviews {
  color: #3339;
  font-size: 0.7em;
  margin-bottom: 1.5em;
}

.reviews a {
  color: dodgerblue;
  text-decoration: none;
}

.reviews a:hover {
  color: lightskyblue;
  text-decoration: underline;
}

#small {
  font-size: 0.7em;
  margin-bottom: 2.5em;
}

#size {
  margin-bottom: 5em;
}

#question {
  margin-bottom: 2em;
}

select {
  font: inherit;
  width: 20em;
  height: 2.5em;
}

/* --------------Performance Facts----------- */

.performance-facts {
  background-color: #ededed;
  padding: 3.5rem 2rem 2rem 2rem;
}
.performance-facts .content {
  max-width: 1100px;
  margin: 0 auto;
}

.hr {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hr::before {
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

.hr::after {
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  margin: 0 0 0 20px;
  flex: 1 0 20px;
}

.hr hr {
  width: 150px;
}

.performance-facts .bold {
  font-weight: 600;
  color: #333;
  font-size: 1.2em;
}

.performance-facts p {
  text-align: center;
  margin-bottom: 1em;
  line-height: 1.5em;
  font-size: 1.1em;
  font-weight: 300;
}

.performance-facts h1 {
  text-align: center;
  padding-bottom: 2em;
  margin-top: 2em;
}

.performance-facts .column {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 4rem;
}

@media screen and (min-width: 1001px) {
  .performance-facts .column {
    grid-template-columns: repeat(3, 1fr);
  }
}

.performance-facts .column h3 {
  text-align: left;
}

.performance-facts .column p {
  text-align: left;
}
@media screen and (max-width: 768px) {
  .performance-facts .column h3 {
    text-align: center;
  }
  .performance-facts .column p {
    text-align: center;
  }
}
@media screen and (max-width: 1000px) {
  .performance-facts .column div {
    margin-bottom: 2rem;
  }
}

/* ---------- Bike specs -------------- */
.bike-specs-container {
  background-color: gray;
}
.bike-specs {
  padding-top: 4em;
  margin-bottom: 5em;
  display: grid;
  grid-template-rows: repeat(3, auto);
  column-gap: 2rem;
  margin: 0 auto;
  padding: 2rem;
}

#centr {
  padding-top: 5em;
  padding-bottom: 5em;
  font-size: 0.8em;
}

#levo div {
  display: flex;
  border-top: solid thin #333;
  border-color: darkgray;
  height: 3.5em;
  align-items: center;
  /* flex-wrap: wrap; */
}

#levo div p:first-of-type {
  margin-right: 3em;
  text-align: left;
  width: 30%;
  font-weight: 400;
  color: white;
}

#levo div p:last-of-type {
  text-align: left;
  width: 70%;
  color: whitesmoke;
}

#pravo div {
  display: flex;
  border-top: solid thin #333;
  text-align: left;
  border-color: darkgray;
  height: 3.5em;
  align-items: center;
}

#pravo div p:first-of-type {
  margin-right: 2em;
  text-align: left;
  width: 32%;
  font-weight: 400;
  color: white;
}

#pravo div p:last-of-type {
  text-align: left;
  width: 70%;
  color: whitesmoke;
}

#centr p {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: darkgray;
}
@media screen and (min-width: 1001px) {
  .bike-specs {
    padding-top: 4em;
    margin-bottom: 5em;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    margin: 0 auto;
    grid-template-areas:
      " levo pravo "
      " centr centr ";
  }
  #levo {
    grid-area: levo;
  }

  #pravo {
    grid-area: pravo;
  }
  #levo div p:first-of-type {
    width: 40%;
  }
  #pravo div p:first-of-type {
    width: 30%;
  }

  #centr {
    grid-area: centr;
    padding-top: 5em;
    padding-bottom: 5em;
    font-size: 0.8em;
  }
}

/* ------ Highlights ------- */
.bike-highlight {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

/* ---------- Geometry--------- */

.geometry {
  border-top: solid thin #3331;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.geometry img {
  width: 100%;
}

.geometry h1 {
  text-transform: uppercase;
  color: #333;
  padding-top: 2em;
}

/* Highlight */

.bike-highlight {
  border-top: none;
}

/* -------------Table--------- */
.table {
  margin-top: 10em;
  margin-bottom: 10em;
}
.table-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 1100px;
  margin: 0 auto;
}

.table-content thead th {
  text-align: left;
  color: #3339;
  height: 2.5em;
  width: 25em;
  background-color: #3331;
  border-bottom: solid thin #3338;
}

.table-content thead th:nth-child(1n + 2) {
  width: 15em;
}

.table-content tbody th {
  text-transform: uppercase;
  text-align: left;
  width: 25em;
  height: 2.5em;
  vertical-align: middle;
  border-bottom: solid thin #3338;
  padding-left: 2em;
}

.table-content tbody tr:nth-child(2n + 2) {
  background-color: #3331;
}

.table-content tbody tr:nth-child(2n + 1) {
  background-color: #fcfcfc;
}

.table-content tbody td {
  text-align: left;
  width: 15em;
  padding-left: 0.2rem;
  border-bottom: solid thin #3338;
}

.buttons {
  display: flex;
  margin-left: auto;
  margin-right: 9.5em;
  margin-bottom: 3em;
}

.table span {
  border: solid 0.1px #3339;
  margin-left: -0.28em;
  padding: 0.5em;
}

#sp1 {
  background-color: green;
  color: white;
}

#sp2:active,
#sp2:focus {
  background-color: green;
  color: white;
}

.table span:hover {
  background-color: #3333;
  cursor: pointer;
}

/* general */

.sticky {
  position: sticky;
  top: 105px;
  z-index: 100;
}
@media screen and (max-width: 1000px) {
  .sticky {
    position: sticky;
    top: 65px;
    z-index: 100;
  }
}
.single-bike-advert {
  background-color: white;
  border-top: solid thin #3331;
}

.single-bike-navbar {
  background-color: #fcfcfc;
}
